# Ignore the biggest directories
.git
.venv
node_modules

# Ignore nested node_modules and pycache
**/node_modules
**/__pycache__

# Ignore caches and temporary files
.pytest_cache
.ruff_cache
htmlcov
yfinance.cache
.crush
temp

# Ignore database files
*.db
*.db-journal
*.sqlite3

# Ignore local dev / IDE files
.vscode
*.code-workspace

# Ignore logs
*.log
debug_log*.txt

# Ignore other docker files
docker-compose*.yml
.dockerignore
